@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Poppins', sans-serif;

}

.navbar {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Hero Section */
.hero {
    /* background-image: linear-gradient(to right, #065f46, #047857); */
}

/* Projetos */
.project {
    transition: transform 0.3s ease-in-out;
}

.project:hover {
    cursor: pointer;
    transform: scale(1.05);
}

/* Sobre Mim */
/* .about {
    background-color: #065f46; /* Cor verde mais escura */
/* } */

/* Contato */
.contact {
    background-color: #f7fafc; /* Cor de fundo mais clara */
} */


.imagempessoal{
    width: 50%;
    height: 100%;
}

@keyframes blinkCaret {
    50% {
      border-color: transparent;
    }
  }
  
  /* Estilo do nome com barra de digitação */
  #nome-digitado {
    display: inline-block;
    border-right: 2px solid #ffffff; /* Barra piscante */
    font-family: 'Poppins', sans-serif;
    white-space: nowrap;
    overflow: hidden; /* Para o efeito de digitação */
    animation: blinkCaret 0.7s step-end infinite;
  }

/* Footer */
/* .footer {
    background-color: #065f46; /* Mesma cor verde escura do "Sobre Mim" */
/* } */ 
/* Responsividade */
@media (max-width: 640px) {
    .navbar a {
        display: block;
        margin-bottom: 10px;
    }

    .container {
        padding: 0 20px;
    }
}
