@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Poppins', sans-serif;

}

.navbar {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


/* Projetos */
.project {
    transition: transform 0.3s ease-in-out;
}

.project:hover {
    cursor: pointer;
    transform: scale(1.05);
}

/* Sobre Mim */
/* .about {
    background-color: #065f46; /* Cor verde mais escura */
/* } */

/* Contato */
.contact {
    background-color: #f7fafc; /* Cor de fundo mais clara */
} */



.pdf{

    margin: auto;
    justify-content: center;
    display: flex;
    width: 100%;
    height: 900px;
}

.imagempessoal{
    width: 90%;
    height: 90%;
}

.logoimg{
    width: 10%;
    height: 10%;
}

/* Responsividade */
@media (max-width: 740px) {
    .navbar a {
        display: block;
        justify-content: center;
        padding: 20px;
        margin-bottom: 10px;
    }

    .hero{
        margin-bottom: -5ch;
    }

    .hero h1{
        display: flex;
        font-size: 40px;
        padding-left: 20px;
        padding-bottom: -20px;
        justify-content: center;
        /* width: 8%; */
    }

    .logoimg{
        width: 50%;
        height: 50%;
    }
    

    .hero p{
        padding-top: -20px;
        display: flex;
        font-size: 12px;

    }

    .container {
        padding: 0 20px;
    }
}
